@use "styles/variables.module.scss" as v;
@use "src/components/mixins.module.scss" as m;
@use "src/components/variables.module.scss" as *;

$max-width: 360px;
$star-size: 14px;

.repoCard {
  max-width: $max-width;
}

.caption {
  span:has(svg) {
    vertical-align: middle;
  }
  svg {
    margin-right: 2px;
    @include m.square($star-size);

    fill: v.$star-accent;
  }
}

.starCounter {
  margin-right: $space-xl;
}
