.Button {
  font-family: 'Roboto';
  padding: var(--space-s) var(--space-l);
  display: flex;

  align-items: center;
  justify-content: space-between;
  gap: var(--space-xxs);

  border-radius: var(--border-radius);
  background: var(--button-primary-bg);
  color: var(--button-primary-text);

  appearance: none;
  border: none;
}

.Button > .Loader {
  fill: var(--button-primary-text);
}

.Button_hover,
.Button:hover:not(:disabled, :active) {
  cursor: pointer;
  background: var(--button-primary-bg-hover);
  color: var(--button-primary-text-hover);
}

.Button_active,
.Button:active:not(:disabled) {
  background: var(--button-primary-bg-active);
  color: var(--button-primary-text-active);
}

.Button_disabled {
  cursor: not-allowed;
  background: var(--button-primary-bg-disabled);
  color: var(--button-primary-text-disabled);
}
