@use "src/components/variables.module" as c;
@use "styles/variables.module" as v;
@use "src/components/mixins.module" as m;

$icon-size: 32px;

.title {
  display: flex;
  align-items: center;
  gap: c.$space-m;
  margin-bottom: c.$space-m;
  @media (max-width: v.$bp-mobile) {
    gap: c.$space-xxs;
    margin-bottom: 0;
  }
}

.text {
  @media (max-width: v.$bp-mobile) {
    font-size: 32px;
    line-height: 1.2;
  }
}

.backButton {
  padding: 0;
  svg {
    @include m.square($icon-size);
  }
  @media (max-width: v.$bp-mobile) {
    @include m.square(24px);
  }
}
