@use "sass:color";
@use "src/components/variables.module" as *;
@use "src/components/animations.module";

.skeleton {
  background: $skeleton-bg;
  animation: pulse 2s infinite;
}
.text {
  display: block;
  font-size: 1em;
  height: 1em;
  width: 100%;
  border-radius: $border-radius;
}

.rectangle {
  border-radius: 0;
}
.rounded {
  border-radius: $border-radius;
}
.circle {
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    background-color: color.scale($skeleton-bg, $lightness: 0%);
  }

  25% {
    background-color: color.scale($skeleton-bg, $lightness: 20%);
  }

  75% {
    background-color: color.scale($skeleton-bg, $lightness: 20%);
  }
  100% {
    background-color: color.scale($skeleton-bg, $lightness: 0%);
  }
}
