@use "src/components/variables.module" as *;

.skeleton {
  background: $skeleton-bg;
}
.text {
  display: inline;
  height: 1em;
  width: 100%;
  border-radius: $border-radius;
}
.rectangle {
  border-radius: 0;
}
.rounded {
  border-radius: $border-radius;
}
.circle {
  border-radius: 50%;
}
