@use "src/components/variables.module" as *;

.dropdownMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: $dropdown-options-bg;
  box-shadow: $card-shadow;
  border-radius: $border-radius;
}

.item {
  cursor: pointer;
  padding: $space-s $space-xs;
}

.item :hover {
  color: $text-secondary;
}

.item_selected {
  color: $text-accent;
}
