@use "src/components/variables.module" as v;
$max-languages-width: 273px;

.container {
  display: flex;
  flex-direction: column;
  gap: v.$space-l;
}

.body {
  display: flex;
  gap: v.$space-s 50px;
  flex-wrap: wrap;
}

.languages {
  max-width: $max-languages-width;
}
