@use "src/components/variables.module" as *;
@use "styles/variables.module" as v;

.header {
  display: flex;
  justify-content: center;
  border-bottom: $header-border;
}

.content {
  max-width: $max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-m;
  flex: 1;
  @media (max-width: v.$bp-mobile) {
    padding-top: $space-s;
    padding-bottom: $space-s;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-xl;
  @media (max-width: v.$bp-mobile) {
    gap: $space-xs;
    h1 {
      font-size: 20px;
    }
  }
}
