@use "src/components/variables.module" as c;

@use "styles/variables.module" as v;

$background: #ffffff;
$vertical-padding: 40px;
.wrapper {
  background: $background;
}
.container {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  gap: c.$space-xl;

  @media (max-width: v.$bp-mobile) {
    gap: c.$space-xs;
    padding-top: calc($vertical-padding * 0.6);
    padding-bottom: calc($vertical-padding * 0.6);
  }
}

.markdown {
  align-self: stretch;
}
