@use "src/components/variables.module" as c;
@use "src/components/mixins.module" as m;

$small: 24px;
$medium: 32px;
$large: 40px;
$avatar-color-border: #ecebeb;

.avatar {
  position: relative;
  object-fit: cover;
  overflow: hidden;
}
.image {
  width: 100%;
  height: auto;
}
.skeleton {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.border {
  border: 1px solid $avatar-color-border;
}

.small {
  @include m.square($small);
}

.medium {
  @include m.square($medium);
}

.large {
  @include m.square($large);
}

.square {
  border-radius: 0;
}

.rounded {
  border-radius: c.$border-radius;
}

.circle {
  border-radius: 50%;
}
